@import '../../styles/variables.module';

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 290px auto;
  transition: all 400ms ease-in-out;
  
  &.open {
    grid-template-columns: 290px auto;
  }
}