/* stylelint-disable */
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600,700');

// Fonts

$font-family-default: 'Open Sans', sans-serif;
$color-primary: #3232F8;
$color-secondary: #111046;
$color-white: #fff;
$color-black: #444;